:root {
  /* Colors  */

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-bg: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  /* Fonts  */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Releway, sans-serif;
}

/* Base styles */

body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--slate);
  background-color: var(--white);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header styles */

.header {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-logo-second {
  font-family: "Raleway", sans-serif;
  color: var(--navy-blue);
}

.header-contacts {
  font-style: normal;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.header-link:hover,
.header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--ocean);
}

/* Hero styles */

.hero {
  background-color: var(--navy-blue-bg);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* Section 1 styles */

.about-section {
}

.about-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.about-undertitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 2 styles */

.projects-section {
}
.projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* Section 3 styles */

.team-section {
  background-color: var(--cloud);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-item {
  background-color: var(--white);
}

.team-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
.team-undertitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Footer section */

.footer {
  background-color: var(--navy-blue-bg);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-logo-second {
  font-family: "Raleway", sans-serif;
  color: var(--cloud);
}

.footer-undertitle {
  color: var(--cloud);
}

/* Portfolio */

/* Section 1 */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.portfolio-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-undertitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
