:root {
  /* Colors  */

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-bg: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  /* Fonts  */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Releway, sans-serif;
}

/* Base styles */

body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--slate);
  background-color: var(--white);
}

/* reset start */

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Header styles */

.header-cont {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 156px;
  margin-left: 156px;
}

.main-nav {
  display: flex;
  margin-right: auto;
}

.header-logo {
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--iris);
}

.header-logo-second {
  font-family: "Raleway", sans-serif;
  color: var(--navy-blue);
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-link {
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.header-item {
  margin-right: 40px;
}

.header-item:last-child {
  margin-right: 0px;
}

.header-contacts {
  font-style: normal;
}

.header-nav-contacts-list {
  display: flex;
}

.header-contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.header-contacts-item {
  margin-right: 40px;
}

.header-contacts-item:last-child {
  margin-right: 0px;
}

.header-link:hover,
.header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--ocean);
}

/* Hero styles */

.hero {
  background-color: var(--navy-blue-bg);
  text-align: center;
}

.hero-cont {
  width: 496px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  padding-bottom: 48px;
  width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero-btn {
  display: inline-block;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  border: transparent;
  min-width: 169px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* Section 1 styles */

.about-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-list {
  display: flex;
}

.about-title-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.about-undertitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.about-item {
  margin-right: 24px;
  width: 264px;
}

.about-item:last-child {
  margin-right: 0px;
}

/* Section 2 styles */

.project-cont {
  padding-top: 120px;
  padding-bottom: 120px;
}

.projects-list {
  display: flex;
  gap: 24px;
}

.projects-title {
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  width: 323px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

  color: var(--navy-blue);
}

/* Section 3 styles */

.team-section {
  background-color: var(--cloud);
}

.team-cont {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white);
}

.team-title-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--navy-blue);
}
.team-undertitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Footer section */

.footer {
  background-color: var(--navy-blue-bg);
}

.footer-cont {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo link {
  margin-top: 100px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-logo-second {
  font-family: "Raleway", sans-serif;
  color: var(--cloud);
}

.footer-undertitle {
  margin-top: 16px;

  color: var(--cloud);
  width: 264px;
}

/* Portfolio */

/* Section 1 */

.portfolio-cont {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  width: 586px;
  gap: 24px;
}

.portfolio-btn {
  display: inline-block;
  border-radius: 4px;
  border: transparent;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  min-width: 69px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.portfolio-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  margin-top: 32px;
}

.portfolio-undertitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 32px;
}

.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 120px;
}

.portfoli-img-item {
  column-gap: 24px;
  row-gap: 48px;
  flex-basis: calc((100% - 24px * 2) / 3);
  border: 1px solid #e7e9fc;
}
